<!-- <h2>Edit <%= resource_name.to_s.humanize %></h2> -->

<h2>Edit Profile</h2>



<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), :validate => true  , html: { method: :put }) do |f| %>


  <%= f.error_notification %>

  <div class="panel panel-default">
     <div class="panel-heading">Login Status       </div>
     <% if (@user.provider.present? ) then %>
   </br>
    &nbsp;&nbsp;&nbsp;You are logged in with a facebook account. You can't change your password here.</br>    <br>
      <% else %>
    </br>
      &nbsp;&nbsp;&nbsp;You are logged in with a local account.  You can change your password here.
      <br> </br>

      <!-- <img src="#{@user.image}" alt="photo"  width="100" height="100" />  -->
      <% end %>
   </div>


   <div class="panel panel-default">
      <div class="panel-heading">Avatar    </div>
      <% if (@user.image.present? ) then %>
       <%= image_tag(@user.image, alt: "photo", size: "100x100", style: "padding: 20px 0px 20px 20px") %>

       <% else %>
       <img src="/photo_not_available.png" alt="photo"  width="100" height="100" />

       <!-- <img src="#{@user.image}" alt="photo"  width="100" height="100" />  -->
       <% end %>
    </div>



    <div class="form-inputs">

    <div class="panel panel-default">
       <div class="panel-heading">Shipping Address
         <div class="pull-right"><font size="1">Make sure your info is correct here.</font> </div>

       </div>

      <div class="panel-body">


    <%= f.input :firstname, required: true, :validate => true  %>
    <%= f.input :lastname, required: true, :validate => true%>



    <%= f.input :address1, required: true, :validate => true %>
    <%= f.input :address2, required: false %>
    <%= f.input :city, required: true, :validate => true %>
    <!-- <%= f.input :state, required: true, :validate => true, label: 'Prov / State' %> -->
    <!--
   <hr>
   testing...helperfile<br><br>
    -->
    <%= f.input :state, :collection => canadian_provinces , required: true, :validate => true, label: 'Prov / State' %>     
    <%= f.input :postal, required: true, :validate => true %>

    <%#= f.country_select :country, only: ["CA", "US"], label: 'Country', required: true  %>
    <%= f.input :country, :collection => %w[Canada USA], required: true , :validate => true%>


      </div>
</div>

  <div class="panel panel-default">
   <div class="panel-heading">Username <% if (@user.provider.blank? ) then %> , email and password </div> <% else %>  and email </div><% end %>
  <div class="panel-body">

    <%= f.input :username, required: true, autofocus: true, :validate => true %>
    <%= f.input :email, required: true, :validate => true %>

 <% if (@user.provider.blank? ) then %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>

  <% end %>

    </div>
</div>
</div>
<!--  removed to allow updating record... {facebook & devise}
    <div class="panel panel-default">
   <div class="panel-heading">Confirm changes? </div>
  <div class="panel-body">

    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>


  </div>
</div>
-->

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


<!--  <%= render 'layouts/googlemap' %> -->
