<% if user_signed_in? %>

    <!-- <p id="notice"><%#= notice %></p>-->

<!-- 
<h1>Notifications</h1>
-->


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  <% if @notifications.empty?  %>
      <h4>Nothing here...</h4>
  <% end %>


    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.created_at.strftime("%m/%d/%Y")   %> | <%= link_to notification.notify_msg , notification  %></td>
        <!--
        <td><%= notification.notify_msg %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--
<%= link_to 'New Notification', new_notification_path %>
-->

    <%= will_paginate @notification, renderer: BootstrapPagination::Rails %><br/>


<% else %>

<div class="alert alert-warning" role="alert">You must be signed in to see the notifications.</div>
  
<% end %> 