
<% @user = current_user %>
<% if user_signed_in? && @user.admin %>



    <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Invoicing<br/>
      <small>After all, tomorrow is another day!</small>
    </h1>



    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Outstanding Invoices: <% if @totalinvoices == 0  %>
         Nothing here...
         <% else %>
        <%= @totalinvoices %>
        <% end %>

        </div>
      <div class="panel-body">

<div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <!--<th colspan="10"></th>-->
        <th>Id</th>
        <th>Created at</th>
        <th>Item</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>HST</th>
        <th>Total</th>
        <th>Name</th>

        <th>Address</th>

        <th>City</th>
        <th>Prov/State</th>
        <th>Postal</th>
        <th>Country</th>
        <th>Email</th>
        <th>Invoice Link</th>
      </tr>
      </thead>

      <tbody>
      <!-- <th>Invoices for users</th> -->

      <% @invoiceusers.each do |iu| %>
          <tr>
            <td> <%= iu.id %> </td>
            <td><%= iu.user.created_at.strftime("%m/%d/%Y") %> </td>

            <td>  <%#= iu.product_id  %>  <%= Product.find(iu.product_id).title %></td>
            <td>  <%= qty = iu.qty  %></td>
            <td>  <%= number_to_currency(price  = Product.find(iu.product_id).price) %></td>
            <td>  <%= number_to_currency(subtotal = qty * price.to_f) %>
            <td>  <%= number_to_currency(hst = subtotal.to_f * 0.13) %>
            <td>  <%= number_to_currency(total = subtotal.to_f + hst.to_f) %>
            <td>  <%= iu.user.firstname %> </br> <%= iu.user.lastname %> </td>

            <td>  <%= iu.user.address1 %> </br> <%= iu.user.address2 %>  </td>

            <td>  <%= iu.user.city %>  </td>
            <td>  <%= iu.user.state %>  </td>
            <td>  <%= iu.user.postal %>  </td>
            <td>  <%= iu.user.country %> </td>
            <td>  <%= iu.user.email %>  </td>
            <td>
                <%#= form_for @cart do |f| %>
                <%#= f.text_field :invoice %>
                  <%#= f.submit "Save" %>
                <%# end %>

            </td>
          </tr>

      <% end %>
      </tbody>
    </table>
</div>


      </div>
    </div>

    <%#== pagy_nav(@pagy) %>
    <%== pagy_nav_bootstrap(@pagy) %> <br/>
    <%#= will_paginate @invoiceusers, renderer: BootstrapPagination::Rails %>

 </div>
</div>

<% else %>

<div class="alert alert-warning" role="alert">You must be the administrator to see the invoicing.</div>

<% end %>
