

<script type="text/javascript">
    $(document).ready(function() {

        $("#owl-carousel").owlCarousel({

            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

// "singleItem:true" is a shortcut for:
// items : 1,
// itemsDesktop : false,
// itemsDesktopSmall : false,
// itemsTablet: false,
// itemsMobile : false

        });

    });
</script>


<div class="col-md-6">
  <div id="owl-carousel">

    <% @photo.each do | p| %>

        <div>  <%= cl_image_tag(p.uri) %></div>

    <% end %>

    <!--
    <div> <%= image_tag("duckula.jpg") %></div>
    <div> <%= image_tag("darkwing.jpg") %> </div>
    <div> <%= image_tag("duckula.jpg") %></div>
    <div> <%= image_tag("darkwing.jpg") %> </div>
    -->

  </div>

</div>
