

<div class="container">

  <%#= current_user.inspect %>  <!-- for facebook troubleshooting -->

  <h1 class="page-header">Welcome to MASSDUMP!<br/>
      <small>Newly added...</small>
  </h1>

   <% if @recent_products.blank?  %>
   <p>Sorry, we will be updating website with some new products shortly.</p>
   <% else %>

	<div class="cards " >

    <% @recent_products.each do |p| %>

      <a class="card" href=  "<%=  product_path(p) %>" >



			<span class="card-header" style="background-image: url( <%=  p.picurl %> );">

				<span class="card-title">
					<h3> <%= p.title %> </h3>
				</span>
			</span>
			<span class="card-summary">
        <%= truncate(p.template, length: 50 , separator: ' ')  %>

			</span>
			<span class="card-meta">
				Active: <%= p.startdate %>  - <%= p.enddate %>
			</span>
		</a>


<% end %>
</div>
<% end %>
</div>


<div class="container">

  <h1 class="page-header">
   <small>Ending soon...</small>
</h1>
<% if @last_chance.blank? %>
<p>Sorry, we will be updating website with some new products shortly.</p>
<% else %>

	<div class="cards" >

    <% @last_chance.each do |p| %>

      <a class="card"  href=  "<%=  product_path(p) %>" >

			<span class="card-header" style="background-image: url( <%=  p.picurl %> );">

				<span class="card-title">
					<h3> <%= p.title %> </h3>
				</span>
			</span>
			<span class="card-summary">
        <%= truncate(p.template, length: 50 , separator: ' ')  %>

			</span>
			<span class="card-meta">
				Active: <%= p.startdate %>  - <%= p.enddate %>
			</span>
		</a>


<% end %>
</div>
<% end %>
</div>
