<% @user = current_user %>
<% if user_signed_in? && @user.admin %>

      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Invitations...
          <% if @totalinvites = 0 %>
            Nothing here...
          <% else %>
            <%= @totalinvites %>
          <% end %>
        </div>

    <table class="table">
      <thead>
      <tr>
        <!--<th colspan="10"></th>-->
        <th>Created at</th>
        <th>Name</th>
        <th>Email</th>
        <th>Message</th>
        <th>Registered?</th>

      </tr>
      </thead>



      <tbody>
      <!-- <th>Invites for users</th> -->

      <% @inivitesusers.each do |iu| %>
          <tr>
            <td><%= iu.created_at.strftime("%m/%d/%Y") %> </td>

            <td>  <%= iu.name %> </td>
            <td>  <%= iu.email %>  </td>
            <td>  <%= iu.message %>  </td>
            <td> <%= @reg = User.find_by_email(iu.email)

              if @reg.blank?
                "False"
              else

                @totalregistered = @totalregistered + 1
                "True"
              end %>

            </td>


          </tr>



      <% end %>
      </tbody>

    </table>

        <div class="panel-footer"><%= @totalregistered %> Total registered users...

          <% if @totalregistered > 0  %>
           <%   @ratio =  ( @totalregistered.to_f / @totalinvites.to_f )*100 %>
              <%= "#{@ratio.round(2)}% percent registered" %>
           <% end %>

        </div>


      </div>


    <%#== pagy_nav(@pagy) %>
    <%== pagy_bootstrap_nav(@pagy) %> <br/>
    <%#= will_paginate @invoiceusers, renderer: BootstrapPagination::Rails %>

<% else %>

<div class="alert alert-warning" role="alert">You must be the administrator to see the invitations.</div>

<% end %>
