<% if user_signed_in? %>


<div class="panel panel-default">
  <!-- Default panel contents -->

  <div class="panel-heading">Shopping cart:  <% if @carts.empty?  %>
      Nothing here...
    <% else %>
      <%= @carts.count %> items...
    <% end %>

    <div class="pull-right"><font size="1">If a campaign is successful, you will be emailed an invoice.</font>
    </div>

  </div>
  <div class="panel-body">


    <table class="table">
      <thead>
      <tr>
        <!-- <th colspan="3"></th> -->
        <th>Added</th>
      <th> Campaign </th>
        <th>Item</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Total</th>
        <th>End date</th>
        <th>Funded</th>
        <th>Action</th>

        <th>Invoice</th>

      </tr>
      </thead>

      <tbody>

      <% @carts.each do |cart| %>

        <tr class="<%= cycle("even", "odd") %>">


          <td><%= cart.created_at.strftime("%m/%d/%Y") %> </td>
          <% product = Product.where(id: cart.product_id).first %>

          <% if not product.funded? %>
                <td> <%= link_to raw(" #{cart.product_id}"), controller: "products", action: "show", id: cart.product_id %> </td>
            <% else %>
                <td> <%= cart.product_id %> </td>
           <% end %>

          <td> <%=  product.title  %>  </td>
          <td> <%=  cart.qty  %>  </td>
          <td> <%=  number_to_currency(product.price ) %>  </td>
          <td> <%=  number_to_currency(total = product.price * cart.qty)  %>  </td>
          <td> <%=  product.enddate  %>  </td>
          <td> <%=  product.funded  %>  </td>


          <% if not product.funded? %>
          <td> <%= link_to 'Remove', cart, method: :delete, data: { confirm: 'Are you sure?' } %>   </td>
        <% else %>
            <%  if not cart.invoice.blank? %>
            <td> <%= '...please pay...'  %> </td>
          <% else %>
          <td> <%= '...Processing order...'  %> </td>
            <% end %>

        <% end %>
            <td> <%= cart.invoice %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>

<br>


  <div class="pagenav">

  <%== pagy_nav_bootstrap(@pagy) %> <br/>
  </div>
<% else %>

<div class="alert alert-warning" role="alert">You must be signed in to see the shopping cart.</div>

<% end %>
