<h2>Log in</h2>

<%= link_to "Log in with Facebook", user_facebook_omniauth_authorize_path %><br>

<div class="or-container">
<hr class="or-hr">
<div class="or">or</div>
</div>

<%= simple_form_for(resource, as: resource_name, :validate => true , url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true , :validate => true %>
    <%= f.input :password, required: false  %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<style>

.or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #ffffff;
}

.or-container {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
  }

  .or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e4e6e8;
}
</style>
