<!-- Find me in app/views/photos/_form -->

<%= simple_form_for @photo,  validate: true do |f| %>
    <%= f.error_notification %>


    <div class="form-inputs">

      <%= f.input :enabled %>
      <%= f.input :uri %>
      <%= f.input :product_id %>

    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<!-- end -->
