<% if user_signed_in? %>

<!-- <p id="notice"><%#= notice %></p> -->

<!--
<h1>Categories</h1>
-->
<%=   @categories.count %> categories <br/><br/>



<table>
  <thead>
    <tr>
      <!-- <th>Name</th> -->
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        
        <td><%= link_to category.name , category  %>  </td>
        <!-- 
        <td><%= category.name %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--
<%= link_to 'New Category', new_category_path %>
-->
<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the categories.</div>
  
<% end %> 

