<!-- found in views/categories/show.html.erb -->

<% if user_signed_in? %>

<!-- <p id="notice"><%#= notice %></p> -->

<!--
<p>
  <strong>Name:</strong>
  <%#= @category.name %>
</p>
-->

<!--
<%= link_to 'Edit', edit_category_path(@category) %> |
-->
<%= link_to 'Back', categories_path %><br/>

<%= @products.count %> products in this category.<br/>
</br>

<!-- insert new stuff here -->


<div class="container">

	<div class="cards">

<% @products.each do |product| %>

<!--        <div class="img"> -->
<a class="card" href=  "<%=  product_path(product) %>" >
  <span class="card-header" style="background-image: url( <%=  product.picurl %> );">

    <span class="card-title">
      <h3> <%= product.title %> </h3>
    </span>
  </span>
  <span class="card-summary">
    <%= truncate(product.template, length: 50 , separator: ' ')  %>

  </span>
  <span class="card-meta">
    Active: <%= product.startdate %>  - <%= product.enddate %>
  </span>
</a>


<% end %>
</div>
</div>

  </br>
<div class="pagenav">
  <%== pagy_bootstrap_nav(@pagy) %> <br/>

</div>
  <!--
  <%#= will_paginate @products, renderer: BootstrapPagination::Rails %><br/>
-->

<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the category.</div>

<% end %>

<!-- end -->
