<style>
  div.img {
    margin: 5px;
    border: 0px solid #ccc;
    float: left;
    width: 180px;
  }

  div.img:hover {
    border: 0px solid #777;
  }

  div.img img {
    width: 100%;
    height: auto;
  }

  div.desc {
    padding: 15px;
    text-align: center;
  }
</style>


<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Name:</strong>
  <%#= @category.name %>
</p>
-->

<!-- 
<%= link_to 'Edit', edit_category_path(@category) %> |
-->
<%= link_to 'Back', categories_path %><br/>

<%= @products.count %> items in this category.<br/>


<% @products.each do |product| %>
        <div class="img">

  <!-- <p > <%#= image_tag(product.picurl, height: '75', width: '75' )  %> -->
         <%= image_tag(product.picurl, height: '75', width: '75' ) %>
          <h4><i> <%= link_to product.title, product %> </i></h4>
    <div class="desc" > <%= product.template.truncate_words(15, omission: '... (continued)') %>  </div>
        </div>
  <% end %>
  
  <% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the category.</div>
  
<% end %>