
<% if user_signed_in? %>

<!-- <p id="notice"><%#= notice %></p> -->

<!--
<p>
  <strong>Name:</strong>
  <%#= @category.name %>
</p>
-->

<!-- 
<%= link_to 'Edit', edit_category_path(@category) %> |
-->
<%= link_to 'Back', categories_path %><br/>

<%= @products.count %> products in this category.<br/>
</br>

<% @products.each do |product| %>
        <div class="img">

  <!-- <p > <%#= image_tag(product.picurl, height: '75', width: '75' )  %> -->
         <%= image_tag(product.picurl, height: '150', width: '150' ) %>
           <%= link_to product.title, product %>
    <!--<div class="desc" > <%#= product.template.truncate_words(15, omission: '... (continued)') %>  </div> -->
        </div>
  <% end %>

  </br>

  <%== pagy_nav_bootstrap(@pagy) %> <br/>
  <!--
  <%#= will_paginate @products, renderer: BootstrapPagination::Rails %><br/>
-->

<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the category.</div>
  
<% end %>