<!-- Find me in app/views/transactions/_form -->

<%= simple_form_for @transaction, validate: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :invoice_number %>
    <%= f.input :shipped %>
    <%= f.input :postal_carrier %>
    <%= f.input :tracking_number %>

    <%= f.input :transaction_msg %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<!-- end -->
