<!-- Find me in app/views/transactions/index.html.erb -->

<% if user_signed_in? %>

  
  <div class="panel panel-default">
    <!-- Default panel contents -->
      <div class="panel-heading">Transactions:  <% if @transactions.empty?  %>
            Nothing here...
        <% else %>
            <%= @transactions.count %> items...
        <% end %>
        <div class="pull-right"><font size="1">Transactions are displayed for the last 60 days.</font> </div>


      </div>
  
      
      <div class="panel-body">
      <table class="table">
  <thead>
  <tr>
  
    <th>Added</th>
    <th>Invoice #</th>
    <th>Shipped?</th>
    <th>Courier</th>
    <th>Tracking #</th>
    <th>Comment</th>
  </tr>
  </thead>

  <tbody>

  <% if @transactions.empty?  %>

  <% end %>


    <% @transactions.each do |transaction| %>
       <tr class="<%= cycle("even", "odd") %>">

    
        <td><%= transaction.created_at.strftime("%m/%d/%Y")  %> </td>
        <td> <%=  transaction.invoice_number  %>  </td>
        <td> <%=  transaction.shipped  %>  </td>
        <td> <%=  transaction.postal_carrier  %>  </td>

        <td> <%=  transaction.tracking_number  %>  </td>
         <td> <%= link_to transaction.transaction_msg , transaction  %></td>
    
      </tr>
    <% end %>
  </tbody>
</table>

      </div>
    </div>


    <br>

    <%#= will_paginate @transaction, renderer: BootstrapPagination::Rails %>

<div class="pagenav">
  <%#== pagy_nav(@pagy) %>

  <%== pagy_bootstrap_nav(@pagy) %> <br/>
</div>
<% else %>

    <div class="alert alert-warning" role="alert">You must be signed in to see the notifications.</div>

<% end %>

<!-- end -->
