<%= simple_form_for @product, validate: true do |f| %>
  <%= f.error_notification %>


 <!-- fix this -->
 <div class = "field">

    <%= f.label :category_id %><br/>

    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>
  <!-- fix this, it should save the category to the model, added qty -->

  <div class="form-inputs">

    <%= f.input :active %>
    <%= f.input :picurl %>

    <h4>Additional photo urls (upto 5) </h4>
    <div id='photos'>
      <%= f.simple_fields_for :photos do |p| %>
        <%= render 'photo_fields', :f => p %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add photo url', f, :photos %>
      </div>
    </div>

    <%= f.input :title %>
    <%= f.input :qty %>
    <%= f.input :template %>
    <%#= f.input :template, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>

    <%= f.input :price %>
    <%= f.input :msrp %>
    <%= f.input :startdate %>
    <%= f.input :enddate %>

    <%= f.input :length %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.input :weight %>

    <%= f.input :courier %>
    <%= f.input :courierurl %>

    <%= f.input :draft %>




  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
