<% if user_signed_in? %>

    <!--<p id="notice"><%#= notice %></p> -->

<!--
<h1>Products</h1>
-->
<!--
  <%#= render 'layouts/ransack' %>
-->

<!--
  <%#= @products.product.size %> records<br/>
  -->
    <%=   @products.count %> products<br/><br/>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
         <td><%= link_to product.title , product  %></td>
        <!-- 
        <td><%= product.title %></td>
      
        
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @product, renderer: BootstrapPagination::Rails %><br/>

<!-- 
<%= link_to 'New Product', new_product_path %>
-->

<% else %>


<!-- <h1>You must be signed in to see the products.</h1> -->

<div class="alert alert-warning" role="alert"> You must be signed in to see the products.</div>
  
<% end %> 

