<% if user_signed_in? %>


  <%= link_to 'Back', categories_path %></br>

  <div>

  <% if @total_products == 0  %>
    Nothing here...
  <% else %>
    <% if @searchtotal > 0 %>
      <%= @searchtotal.to_s %> products found...
    <% end %>
    <%= @total_products.to_s %> products...
  <% end %>
  </div>

  <!-- insert new stuff here -->

  <div class="container">

  	<div class="cards">

  <% @products.each do |product| %>

    <!-- <div class="img"> -->

      <a class="card" href=  "<%=  product_path(product) %>" >

        <span class="card-header" style="background-image: url( <%=  product.picurl %> );">

          <span class="card-title">
            <h3> <%= product.title %> </h3>
          </span>
        </span>
        <span class="card-summary">
          <%= truncate(product.template, length: 50 , separator: ' ')  %>

        </span>
        <span class="card-meta">
          Active: <%= product.startdate %>  - <%= product.enddate %>
        </span>
      </a>


      <% end %>
      </div>
      </div>


  </br>

  <div class="pagenav">
  <%#== pagy_nav(@pagy) %>
  <%== pagy_nav_bootstrap(@pagy) %> <br/>

  </div>


<% else %>



<div class="alert alert-warning" role="alert"> You must be signed in to see the products.</div>

<% end %>
