<% if user_signed_in? %>


  <%= link_to 'Back', categories_path %><br/>

     <%=   @products.count %> products<br/><br/>


    <% @products.each do |product| %>

    <div class="img3">

    <%= link_to product.title , product  %>
    <%= link_to image_tag(product.picurl ), product %>
    </div>


  <% end %>

  </br>

<%= will_paginate @product, renderer: BootstrapPagination::Rails %><br/>

<!-- 
-->

<% else %>


<!-- <h1>You must be signed in to see the products.</h1> -->

<div class="alert alert-warning" role="alert"> You must be signed in to see the products.</div>
  
<% end %> 

