
<script type="text/javascript">
    $(document).ready(function() {

        $("#owl-carousel").owlCarousel({

            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true

// "singleItem:true" is a shortcut for:
// items : 1,
// itemsDesktop : false,
// itemsDesktopSmall : false,
// itemsTablet: false,
// itemsMobile : false

        });

    });
</script>



<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#Product">Product</a></li>
  <li><a data-toggle="tab" href="#Discussion">Discussion</a></li>
</ul>

<div class="tab-content">
  <div id="Product" class="tab-pane fade in active">

  <H2><%= @product.title %></H2>  <% if @product.qty == 1 %>
        <%= button_to  'Last one, add to Cart?', add_to_cart_path, method: :post %>

  <% else %>

    <%= button_to  'Add to Cart', add_to_cart_path, method: :post %>
        <% end %>

 <div class="well well-sm"> 
 
 <% start_time =  @product.startdate %>
 <% end_time   =  @product.enddate %>
 

 
 
 System time: <%= time_now = Time.now  %> <br/>
 <!-- End Date: <%= @product.enddate %> <br/> -->

  
 
 
 <%  if @product.active == true && time_now <= end_time %>
     Active campaign.<br/> Start date: <%= @product.startdate %>;  End date: <%= @product.enddate %><br/>
      Duration, <%=   distance_of_time_in_words(start_time, end_time)  %>.<br/>
      
      <% if time_now >=	start_time  %>
      Time remaining, <%=   distance_of_time_in_words(time_now, end_time)  %>.<br/>
    
     
     <% end %>
 
<!--  <%= ( @product.enddate.to_date - time_now.to_date).to_i %>  -->
<!-- <%= (  @product.enddate.to_date - @product.startdate.to_date ).to_i %> -->

 
 
  <% if time_now  <= start_time  %>
      Campaign has not started yet.
  <% else %>
     <div class="progress">
       <% @progressdate =  ((( @product.enddate.to_date - time_now.to_date).to_f)  / ((  @product.enddate.to_date - @product.startdate.to_date ).to_f)  *100).to_i  %>
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  style="width: <%= @progressdate %>%">
         <%= distance_of_time_in_words(time_now, end_time)  %>
      </div>
    </div>
    
  <% end %>
      
      
      <% else %> 
       Campaign ended. 
     <% end %> 
<br/>
 

 
 </div>

    <div class="well well-sm">
      Quantity: <%= @product.qty %>;   Remaining: <%= @remaining %> <% @percentremaining = (((  @remaining ).to_f) / (( @product.qty).to_f) *100).to_i %>
      <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  style="width: <%= @percentremaining %>%" >
          <%= @remaining %> remaining


        </div>
      </div>

    </div>



    <div class="well well-sm">
 
 <%  if @product.funded == true %>
     Successfully 
      <% else %> 
          Not
     <% end %> 
 Funded.
 

 
 </div>
 

 

  <div class="well well-sm">      

    <!--
     <img src= <%#= @product.picurl %>  >
      -->

  <!--
    <div class="col-md-6"> -->
      <div id="owl-carousel">

        <%= cl_image_tag(@product.picurl)  %>

        <% @photo.each do | p| %>

            <div>  <%= cl_image_tag(p.uri) %></div>

        <% end %>



      </div>
<!--
    </div> -->


  </div>

 
 
   

  <div class="well well-sm">    <%= @product.template %><br/>   </div>
   
   
   <%= @product.impressionist_count(:filter => :ip_address) %> Views <br/> 
   <% if @product.msrp != 0 && @product.price != 0 then %>
   <%= @product.price %> MSDP<br/>
   <%= @product.msrp %> MSRP<br/>
   
   <%= Discount.calculate_percentage_discount(@product.msrp, @product.price) %> Discount %<br/> 
    <% end %>

<!-- 
<%= link_to 'Edit', edit_product_path(@product) %> |
-->

<%= link_to 'Back', products_path %>

  </div>

<div id="Discussion" class="tab-pane fade">
  
  <H2><%= @product.title %></H2>


 <div class="well well-sm"> 
    <%= commontator_thread(@product) %>
    </div>

    </div>
     
</div>

<% else %>

<div class="alert alert-warning" role="alert">You must be signed in to see the product.</div>

<% end %>