<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59307581674b8668"></script>


<% if user_signed_in? %>


  <div class="well well-sm"  >
    <div class="addthis_inline_share_toolbox"></div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Product">Product</a></li>
    <li><a data-toggle="tab" href="#Discussion">Discussion</a></li>
  </ul>

  <div class="tab-content">
    <div id="Product" class="tab-pane fade in active">


      <H2><%= @product.title %></H2>
      <% if @remaining == 0 %> All gone!</br>

      <% elsif @remaining == 1 %>

        <%= form_for :cart do |f| %>
          Quantity: <%= f.number_field :qty, :value =>1, :min => 1, :max => @remaining %>

          <%= f.submit "Add to cart" %>
        <% end %>

        </br>
      <% else %>

        <%= form_for :cart do |f| %>
          Quantity: <%= f.number_field :qty, :value =>1, :min => 1, :max => @remaining  %>

          <%= f.submit "Add to cart" %>
        <% end %>
        </br>

      <% end %>




      <div class="well well-sm">

        <% start_time =  @product.startdate %>
        <% end_time   =  @product.enddate %>




        System time: <%= time_now = Time.now  %> <br/>
        <!-- End Date: <%= @product.enddate %> <br/> -->




        <%  if @product.active == true && time_now <= end_time %>
          Active campaign.<br/> Start date: <%= @product.startdate %>.</br>End date: <%= @product.enddate %><br/>
          Duration, <%=   distance_of_time_in_words(start_time, end_time)  %>.<br/>

          </div>

          <div class="well well-sm">


            <% if time_now >=	start_time  %>
              Time remaining, <%=   distance_of_time_in_words(time_now, end_time)  %>.


            <% end %>

            <!--  <%= ( @product.enddate.to_date - time_now.to_date).to_i %>  -->
            <!-- <%= (  @product.enddate.to_date - @product.startdate.to_date ).to_i %> -->



            <% if time_now  <= start_time  %>
              Campaign has not started yet.
            <% else %>

              <div class="progress">


                <% @progressdate =  ((( @product.enddate.to_date - time_now.to_date).to_f)  / ((  @product.enddate.to_date - @product.startdate.to_date ).to_f)  *100).to_i  %>

                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  style="width: <%= @progressdate %>%">
                  <%= distance_of_time_in_words(time_now, end_time)  %>
                </div>
              </div>

            <% end %>


        <% else %>
          Campaign ended.
        <% end %>




        </div>


        <!--  -->


      <div class="well well-sm">
        Quantity: <%= @product.qty %>;   Remaining: <%= @remaining %> <% @percentremaining = (((  @remaining ).to_f) / (( @product.qty).to_f) *100).to_i %>
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"  style="width: <%= @percentremaining %>%" >
            <%= @remaining %> remaining
          </div>
        </div>
      </div>



      <div class="well well-sm">
        <%  if @product.funded == true %>
          Successfully
        <% else %>
          Not
        <% end %>
        Funded.
      </div>


      <div class="well well-sm">
        <%=  cl_image_tag(@product.picurl)  %>
      </div >

      <!--  troubleshoot this well and photo css -->
        <% if @photo.size > 0 %>
             <div class="well well-sm">

        <% @photo.each do | p| %>

            <%=  cl_image_tag((p.uri), :class => "imgproducts" )  %>

        <% end %>

       </div>

          <% end %>
<!-- -->

<!--  old - it doesn't work in a well?
      <div class="well well-sm">    <%= @product.template %><br/>   </div>
-->

<hr>
<p><%= @product.template %></p>.html_safe


      <div class="well well-sm">
        Length: <%= @product.length %><br/>
        Width:  <%= @product.width %><br/>
        Height: <%= @product.height %><br/>
        Weight: <%= @product.weight %>
        <hr/>
        <%= link_to @product.courier,  @product.courierurl,  target: :_blank %><br/>

      </div>


      <div class="well well-sm">
        <%= @product.impressionist_count(:filter => :ip_address) %> Views <br/>
        <% if @product.msrp != 0 && @product.price != 0 then %>
          <%= @product.price %> MSDP<br/>
          <%= @product.msrp %> MSRP<br/>

          <%= Discount.calculate_percentage_discount(@product.msrp, @product.price) %> Discount %<br/>
        <% end %>

      </div>
    </div>  <!--   here? -->




  <div id="Discussion" class="tab-pane fade">

    <H2><%= @product.title %></H2>


    <div class="well well-sm">
      <%= commontator_thread(@product) %>
    </div>

  </div></div>


<% else %>

  <div class="alert alert-warning" role="alert">You must be signed in to see the product.</div>

<% end %>
