<!-- views/layouts/_adminmenu.html.erb -->

<% @user = current_user %>
<% if @user.admin %>


<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"  data-hover="dropdown" data-delay="1000" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
  <ul class="dropdown-menu">

    <!--
            <li><%#= link_to "Sign Up", new_user_registration_path %></li>
            <li><li><%#= link_to "Log in", new_user_session_path %></li></li>
    -->
    <li><%= link_to "Dashboard", dashboard_path %></li>
   <!-- <li><%#= link_to "Charts and Graphs", chartsgraphs_path %></li> -->
    <li><%= link_to "Invitations", invitations_path %></li>

    <li><%= link_to "Invoicing", invoicing_index_path %></li>


    <li><%= link_to "Photos Listing", photos_path %></li>
    <li><%= link_to "Users Listing", "/users" %></li>
    <li><%= link_to "Tax Listing", taxes_path %></li>


    <li><hr></li>
    <li><%= link_to "New Category", new_category_path %></li>
    <li><%=link_to "New Notification", new_notification_path %></li>
    <li><%=link_to "New Product",  new_product_path %></li>
    <!-- <li><%#=link_to "New Photo",  new_photo_path %></li> -->
    <li><%=link_to "New Transaction", new_transaction_path %></li>


  </ul>
</li>

<% end %>

<!-- end -->      
