<!DOCTYPE html>
<html>
<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <% if Rails.env.production? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-40488478-2"></script>
     <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());

         gtag('config', 'UA-40488478-2');
     </script>

 <% end %>


  <title>MASSDUMP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>

<body>


<!-- 
<% if current_user %>
    <%= auto_session_timeout_js %>

    <%= auto_session_warning_tag %>
    <%= auto_session_timeout_js timeout: 60, frequency: 60, start: 60, warning: 20 %>
<% end %>
-->
  
<%= render 'layouts/nav' %>
<%= bootstrap_flash %>

<div class="container">

        <%= render_breadcrumbs :tag => :li, :separator => "" %>
        <%= yield %>
</div>

   <%= render 'layouts/footer' %>

</body>



</html>
