<!DOCTYPE html>
<html>
<head >
  <meta charset="UTF-8">
  <title>MASSDUMP</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    
<%#= render 'layouts/happychat' %>    
  
<%= render 'layouts/nav' %>
<%= bootstrap_flash %>

<div class="container">

        <%= render_breadcrumbs :tag => :li, :separator => "" %>
        <%= yield %>
</div>

   <%= render 'layouts/footer' %>

</body>



</html>
